<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ExploreBC | <%= pageTitle %></title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/destinations">Destinations</a></li>
      <li><a href="/activities">Activities</a></li>
      <li><a href="/food">Food & Restaurants</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <main>
=======
<header class="navbar">
    <h1 class="logo"><a href="/" class="n">ExploreBC</a></h1>
    <nav class="nav-links">
        <ul class="lp">
            <li><a href="/" class="n">Home</a></li>
            <li><a href="/destinations" class="n">Destinations</a></li>
            <li><a href="/activities" class="n">Activities</a></li>
            
            <% if (user) { %>
                <li><a href="/posts/create" class="n">Create Blog Post</a></li>
                <li><a href="/auth/logout" class="n">Logout (<%= user.uname %>)</a></li>
            <% } else { %>
                <li><a href="/auth/login" class="n">Login</a></li>
            <% } %>
        </ul>    
    </nav>
</header>
>>>>>>> eb53490a8a65e894fa605595f86dc51c9ef6b651
