<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Delete Comment</title>
  </head>
  <body>
    <%- include('../partials/header', { user }) %>
    <main>
      <h2>Delete Comment?</h2>
      <p><%= comment.description %></p>
      <form action="/comments/delete/<%= comment.id %>" method="POST">
        <button type="submit">Confirm Delete</button>
        <button type="submit" name="cancel" value="true">Cancel</button>
      </form>
    </main>
  </body>
</html>